.yellow {
    background-color: yellow;
}
.mustard {
    background-color: #f6bf6f
}
.saffran {
    background-color: #fed09e;
}
.amber {
    background-color: #f5942b;
}
.orange {
    background-color: #f26643;
}
.softPeach {
    background-color: #f7bdaf;
}
.red {
    background-color: #e42d49;
}
.cardinalRed {
    background-color: #b8094c;
}
.mulberry {
    background-color: #b52f92;
}
.salmonPink {
    background-color: #f69994;
}
.babyPink {
    background-color: #f8beca;
}
.rosePink {
    background-color: #f099bb;
}
.lavender {
    background-color: #d6c6e0;
}
.cornflower {
    background-color: #9ab0d5;
}
.aubergine {
    background-color: #471b4c;
}
.violet {
    background-color: #5f63ad;
}
.frenchNavy {
    background-color: #006ea9;
}
.aegean {
    background-color: #008db8;
}
.chinaBlue {
    background-color: #a0cdee;
}
.teaGreen {
    background-color: #d6dfda;
}
.turquoise {
    background-color: #1aaab2;
}
.lushGreen {
    background-color: #00834a;
}
.grass {
    background-color: #6cc06a;
}
.apple {
    background-color: #9bcf7c;
}
.pearGreen {
    background-color: #bcc22c;
}
.marshGreen {
    background-color: #a9b261;
}
.praline {
    background-color: #d4af82;
}
.satin {
    background-color: #f8dcce;
}
.putty {
    background-color: #f4d0c0;
}
.umber {
    background-color: #736149;
}
.saddleBrown {
    background-color: #bd6c3d;
}
.henna {
    background-color: #763414;
}
.bruntUmber {
    background-color: #a7553f;
}
.warmGrey00 {
    background-color: #f6f7f1;
}
.warmGrey3 {
    background-color: #ab9a92;
}
.warmGrey7 {
    background-color: #4f4232;
}
.coolGrey2 {
    background-color: #d7d8d3;
}
.coolGrey6 {
    background-color: #646e6d;
}
.iceGrey1 {
    background-color: #dfdfdf;
}
.iceGrey5 {
    background-color: #838884;
}
.blueBlack {
    background-color: #00021b;
}